.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
    z-index: 1;
}

.loginBox {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    background-color: rgba(255, 255, 255, 0.9); 
    text-align: center;
    box-sizing: border-box;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.inputGroup {
    margin-bottom: 20px;
    position: relative;
    text-align: left; 
}

label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #333; 
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.email {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #6f96aa;
}

.button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 60px;
    background: linear-gradient(90deg, #1e3a8a, #ea5501); 
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(90deg, #1e3a8a, #ea5501); 
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6f96aa;
}

.links {
    display: flex;
    justify-content: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    .loginBox {
        padding: 20px;
    }

    button {
        padding: 12px;
        font-size: 18px;
    }
}
