/* Existing Box styles */
.box {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headding {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin: 0;
  padding: 20px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  /* background: linear-gradient(45deg, #3498db, #8e44ad); */
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.box-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure container spans the full width */
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.welcome-text {
  display: inline-block; /* Ensure background spans full width */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin: 0;
  padding: 20px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  background: linear-gradient(45deg, #3498db, #8e44ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  text-align: center;
}



/* Responsive styles */
@media (max-width: 768px) {
  .box {
      width: 150px;
      height: 150px;
      padding: 15px;
  }

  h2 {
      font-size: 16px;
  }
}

@media (max-width: 576px) {
  .box {
      width: 100px;
      height: 100px;
      padding: 10px;
  }

  h2 {
      font-size: 14px;
  }

  .box-container {
      display: grid;
      gap: 10px;
  }
}
